<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={{ url_for("static", filename="css/bootstrap.min.css") }}>
    <link rel="stylesheet" href={{ url_for("static", filename="css/albom.css") }}>
    <title>Albom</title>
</head>
<body>
    <div class="container mt-5">
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <div class="mb-3">
                {{ form.email.label(class="form-label") }}
                {{ form.email(class="form-control") }}
                {% for error in form.email.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="mb-3">
                {{ form.username.label(class="form-label") }}
                {{ form.username(class="form-control") }}
                {% for error in form.username.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="mb-3">
                {{ form.password.label(class="form-label") }}
                {{ form.password(class="form-control") }}
                {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="mb-3">
                {{ form.password_repeat.label(class="form-label") }}
                {{ form.password_repeat(size=32, class="form-control") }}
                {% for error in form.password_repeat.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            {{ form.submit(class="btn btn-primary") }}
        </form>
        <p>If you have account <a href="{{ url_for('auth.login') }}">click to join!</a></p>
    </div>
<script src={{ url_for("static", filename="js/bootstrap.min.js") }}></script>
</body>
</html>