{% extends "main/base.html" %}
{%block content%}
<section class="section-card mt-2">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4 col-sm-6">
                {% for post in posts %}
                    {% include 'main/_post.html' %}
                {% endfor %}
                {% if prev_url %}
                <a href="{{ prev_url }}">Newer posts</a>
                {% endif %}
                {% if next_url %}
                <a href="{{ next_url }}">Older posts</a>
                {% endif %}
            </div>
        </div>
    </div>
</section>

{%endblock%}