{% extends "main/base.html" %}
{%block content%}

<div class="container mt-5">
    <div class="card mb-3" style="border-width: 0px 0px 2px; border-style: solid; border-color: black;">
        <div class="row justify-content-left g-0">
            <div class="col-md-4">
                <img src="{{url_for('static', filename='images/'+user.get_avatar())}}" class="img-fluid rounded-start" alt="">
                
            </div>
            <div class="col-md-4">
                <div class="card-body">
                <h5 class="card-title">{{user.username}}</h5>
                {% if user.about_me %}
                <p class="card-text">{{user.about_me}}</p>
                {% endif %}
                {% if user.last_seen %}
                <p class="card-text">Last seen on: {{ moment(user.last_seen).format('LLL') }}</p>
                {% endif %}
                <p class="card-text">
                    {{user.followers.count()}} <a href="{{url_for('main.followers', username=user.username)}}">followers</a>, 
                    {{user.followed.count()}} <a href="{{url_for('main.followed', username=user.username)}}">followed</a>
                </p>
                {% if user == current_user %}
                <a href="{{url_for('main.edit_profile')}}">Edit profile</a><br>
                <a class="mt-5 btn btn-primary" href="{{url_for('main.add_post')}}">Add post</a>
                {% elif current_user.is_following(user) %}
                <a href="{{url_for('main.unfollow', username=user.username)}}">Unfollow</a>
                {% else %}
                <a href="{{url_for('main.follow', username=user.username)}}">Follow</a>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
    <section class="section-card mt-2">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-4 col-sm-6">
                    {% for post in posts %}
                        <div class="mt-5 card">
                            <img src="{{ url_for('static', filename='images/'+post.get_picture()) }}"  class="card-img-top" style="max-width: 450px;max-height: 450px;" alt="">
                            <div class="card-body">
                                <div class="card-text">{{post.body}}</div>
                                <div class="card-text time"><small class="text-muted">{{ moment(post.timestamp).fromNow() }}</small></div>
                                <div class="btn-group button-stick-left">    
                                    <button type="button" class="btn btn-primary card-btn-text">Вид</button>
                                    <button type="button" class="btn btn-2 text-white card-btn-text">Лайк </button>
                                </div>
                                {% if user == current_user %}
                                <div class="btn-group button-stick-right">
                                    <a href="{{url_for('main.delete_post', username=user.username, post_id=post.id)}}" class="btn btn-danger card-btn-text">Удалить</a>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                    {% if prev_url %}
                    <a href="{{ prev_url }}">Newer posts</a>
                    {% endif %}
                    {% if next_url %}
                    <a href="{{ next_url }}">Older posts</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
</div>

{%endblock%}